<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <h1 class="text-center">Property List</h1>
      <div class="mb-4 d-flex flex-row-reverse">
        <div class="bd-highlight">
          <select (change)="onTableSizeChange($event)" class="custom-select">
            <option *ngFor="let size of tableSizes" [ngValue]="size">
              {{ size }}
            </option>
          </select>
        </div>
        <div class="mr-2">
          <a class="float-end" [routerLink]="['/property/add']"
            ><button class="btn btn-success">Add New Property</button></a
          >
        </div>
      </div>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Data Type</th>
            <th class="text-center">Property Name</th>
            <th class="text-center">From Message</th>
            <th class="text-center">System Property</th>
            <th class="text-center">System Message</th>
            <th class="text-center">Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let property of properties
                | paginate
                  : {
                      itemsPerPage: tableSize,
                      currentPage: page,
                      totalItems: count
                    };
              let i = index">
            
            <td scope="row" class="text-center">{{ this.property.id }}</td>
            <td>{{ this.property.type }}</td>
            <td>{{ this.property.name }}</td>
            <td>{{ this.property.messageName }}</td>
            <td>{{ this.property.myPropertyName }}</td>
            <td>{{ this.property.myMessageName }}</td>
            <td class="mx-auto text-center">
              <a [routerLink]="['/property/', this.property.id, 'edit']"
                ><button type="button" class="btn btn-info btn-sm mr-2">
                  <i class="fa fa-pencil"></i></button
              ></a>
              <button
                type="button"
                class="btn btn-danger btn-sm mr-2"
                (click)="removeMessage(this.property.id)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-center text-center mt-3">
        <pagination-controls 
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onTableDataChange($event)"
        >
          </pagination-controls
        >
      </div>
    </div>
  </div>
</div>
