<div class="container mt-4">
    <div class="row">
      <div class="col-sm-4"><h1>{{this.source.name}}</h1></div>
      <div class="col-sm-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
          <strong>Information: </strong>You have made changes. And unsaved changes will be lost!!
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-center mx-auto img-thumbnail" src="../../../assets/source.png">
          <div class="card-body">
            <form #editForm="ngForm" (ngSubmit)="this.addOrUpdateSource()" id="editForm">
              <h4>Name</h4>
              <input type="text" name="name" rows="6" class="form-control" [(ngModel)]="source.name"/>
            </form>
          </div>
          <div class="card-footer">
               <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  