<div class="container">
    <div class="row">
      <div class="col-md-12 mt-4">      
        <h1 class="text-center">Message List</h1>  
        <div class="row">
            <div class="col-md-12 mb-4">
                <a [routerLink]="['/message/add']"><button class="btn btn-success">Add New Message</button></a>
            </div>
          </div>      
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Name</th>
              <th class="text-center">Description</th>
              <th class="text-center">Kafka Topic</th>
              <th class="text-center">Edit/Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="
            let message of messages
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          ">
              <td scope="row" class="text-center">{{ this.message.id }}</td>
              <td>{{ this.message.name }}</td>
              <td>{{ this.message.description }}</td>
              <td>{{ this.message.kafkaTopic }}</td>
              <td class="mx-auto text-center">
                <a [routerLink]="['/message/', this.message.id ,'edit']"><button type="button" class="btn btn-info btn-sm mr-2" (click)="showEditMessageForm(message)"><i class="fa fa-pencil"></i></button></a>              
                <button type="button" class="btn btn-danger btn-sm mr-2" (click)="removeMessage(this.message.id)"><i class="fa fa-trash"></i></button>
            </td>  
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-center mt-3">
            <pagination-controls previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"></pagination-controls>
          </div>

        
  
        
  
          <!-- <form *ngIf="editMessageForm">
            <h2>Edit Message Details</h2>
            <p>First Name: <input type="text" name="firstName" [(ngModel)]="editedMessage.firstName" /></p>
            <p>Last Name: <input type="text" name="lastName" [(ngModel)]="editedMessage.lastName" /></p>
            <p>
              <button type="button" class="btn btn-success my-btn btn-block mr-2" (click)="updateMessage()">Submit</button>
              <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
            </p>
          </form> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
