<div class="container">
    <div class="row">
      <div class="col-md-12 mt-4">      
        <h1 class="text-center">Message List</h1>  
        <div class="row">
            <div class="col-md-12 mb-4">
                <button class="btn btn-success" (click)="showAddMessageForm()">Add New Message</button>
            </div>
          </div>      
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Name</th>
              <th class="text-center">Description</th>
              <th class="text-center">Kafka Topic</th>
              <th class="text-center">Edit/Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="
            let message of messages
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          ">
              <td>{{ this.message.id }}</td>
              <td>{{ this.message.name }}</td>
              <td>{{ this.message.description }}</td>
              <td>{{ this.message.kafkaTopic }}</td>
              <td class="mx-auto">
                <button type="button" class="btn btn-info btn-sm mr-2" (click)="showEditMessageForm(message)"><i class="fa fa-pencil"></i></button>  
                <button type="button" class="btn btn-danger btn-sm mr-2" (click)="removeMessage(this.message.id)"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-center mt-3">
            <pagination-controls previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"></pagination-controls>
          </div>

        
  
        <!-- <div class="mt-4">
          <form #editForm="ngForm" (ngSubmit)="this.saveMessage()" id="editForm" *ngIf="messageForm">
            <h2>Add New Message</h2>
            <p>Messge Name: <input type="text" name="name" [(ngModel)]="newMessage.name" /></p>
            <p>Description: <input type="text" name="description" [(ngModel)]="newMessage.description" /></p>
            <p>Kafka Topic: <input disabled="disabled" type="text" name="description" [(ngModel)]="this.sourceTopic.kafkaTopic" /></p>
            <p>
              <button [disabled]="!editForm.dirty" form="editForm" type="button" class="btn btn-success my-btn btn-block mr-2">Save Changes</button>
              <button type="button" class="btn btn-warning" (click)="cancelNewMessage()">Cancel</button>
            </p>
          </form> -->
  
          <!-- <form *ngIf="editMessageForm">
            <h2>Edit Message Details</h2>
            <p>First Name: <input type="text" name="firstName" [(ngModel)]="editedMessage.firstName" /></p>
            <p>Last Name: <input type="text" name="lastName" [(ngModel)]="editedMessage.lastName" /></p>
            <p>
              <button type="button" class="btn btn-success my-btn btn-block mr-2" (click)="updateMessage()">Submit</button>
              <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
            </p>
          </form> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
