<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card mx-auto">
        <div class="card-header text-center">
          <h5>{{ source.name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p><strong>API Key: </strong>{{ source.apiKey }}</p>
          </li>
          <li class="list-group-item">
            <p>
              <strong>Creation Date:</strong
              >{{ source.creationDate | date: "mediumDate" }}
            </p>
          </li>
          <li class="list-group-item">
            <p><strong>Messages Count:</strong>{{ source.messages.length }}</p>
          </li>
        </ul>
        <div class="card-footer text-center gray-footer">
          <a
            [routerLink]="['/source/', source.id, 'edit']"
            class="btn btn-primary my-btn"
            ><i class="fa fa-pencil"></i> Edit</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
